Data/
.Rproj.user
.Rhistory
.Rhistory
.Rhistory
.Rhistory
*.pper
.Rproj.user/461C2BDB/pcs/files-pane.pper
.Rproj.user/461C2BDB/pcs/source-pane.pper
.Rproj.user/461C2BDB/pcs/windowlayoutstate.pper
.Rproj.user/461C2BDB/pcs/workbench-pane.pper
.Rproj.user/461C2BDB/sources/prop/INDEX
.Rproj.user/461C2BDB/sources/s-7FC62E2A/B4DCD193-contents
.Rproj.user/461C2BDB/sources/s-7FC62E2A/D13CFA1F-contents
.Rproj.user/461C2BDB/sources/s-7FC62E2A/lock_file
.Rproj.user/shared/notebooks/paths
